 h1{
        color:black;
        background-color:rgb(159, 158, 158);
        text-align: center;
        

    }
    h2{
        color:rgb(4, 4, 0);
        background-color: rgb(234, 238, 226);
        
    }
    .para1{
        color:grey;
        background-color:blanchedalmond
    }
    #hww{
        color:red;
        background-color: black;
    }
    .pro{
        color:green;
        background-color: rgb(232, 245, 232);
        text-align: right;
    }
    .card{
        color:rgba(27, 2, 2, 0.403);
        background-color: rgb(128, 125, 125);
    }
    #official{
        color:red;
        background-color: rgb(234, 157, 157);
    }
    h3{
        color:darkblue;
    }
    .sak{
        color: rgb(95, 3, 3);
        background-color:rgb(245, 213, 174);
    }
    .fkk{
        color:rgb(68, 68, 2);
        background-color: rgba(235, 235, 118, 0.838);
    }
    footer {
    background-color: #333;
    color: white;
    text-align: center;
   
}


figure img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #333;
}
aside {
    background-color: #a1f3c3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


